@import "variables.css";
@import "body.css";
@import "nav-bar.css";
@import "header.css";
@import "about.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";
@import "main.css";

body{
    background-color: blue;
}

.jumbotron{
    background-color: white;
    text-align: center;
}

#contact{
    background-color:white;
    border: solid black;
    text-align: center;
    margin: 150px;
    margin-top: 10px;
    height: 600px;
}

.row{
    text-align: center;
}
